<div class="header">
  <div class="header-wrapper">
    <h2>Poker Texas Hold'em <br/><span>&copy; Tommy Harvey - Créer dans le cadre du cours de Technologie Web - 2021</span></h2>
    <button id="btnCartes" class="btn btn-danger" (click)="demarrer()">Passer les cartes</button>
  </div>
</div>
<div class="container">
  <div class="row col-12 joueur">
    <div class="col-12">Joueur 1</div>
    <span class="col-6"></span>
    <div class="col-6 valeur-francais"></div>
  </div>
  <div class="row col-12 joueur">
    <div class="col-12">Joueur 2</div>
    <span class="col-6"></span>
    <div class="col-6 valeur-francais"></div>
  </div>
  <div class="row col-12 centre">
    <div class="col-12/">Table</div>
    <span class="col-8"></span>
    <div class="col-4 gagnant"></div>
  </div>
  <div class="row col-12 joueur">
    <div class="col-12">Joueur 3</div>
    <span class="col-6"></span>
    <div class="col-6 valeur-francais"></div>
  </div>
  <div class="row col-12 joueur">
    <div class="col-12">Joueur 4</div>
    <span class="col-6"></span>
    <div class="col-6 valeur-francais"></div>
  </div>
</div>