<div class="header">
  <div class="header-wrapper">
    <h2>Poker Texas Hold'em <br/><span>&copy; Tommy Harvey - Créer dans le cadre du cours de Technologie Web - 2021</span></h2>
    <button id="btnCartes" class="btn btn-danger" (click)="demarrer()">Passer les cartes</button>
  </div>
</div>
<div class="container">
  <div class="row col-12 joueur">Joueur 1<span><img src="./../assets/images/0_0.png" class="carte"><img src="./../assets/images/0_0.png" class="carte"></span></div>
  <div class="row col-12 joueur">Joueur 2<span></span></div>
  <div id="center-table" class="row col-12">Table<span></span></div>
  <div class="row col-12 joueur">Joueur 3<span></span></div>
  <div class="row col-12 joueur">Joueur 4<span></span></div>
</div>